<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Admin_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-admin_id" data-rule="required" data-source="auth/admin/selectpage" class="form-control selectpage" data-primary-key="id" data-format-item="{username}-{nickname}" data-field="nickname" data-search-field="username,nickname" name="row[admin_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Csid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-csid" data-rule="required" data-source="batmanage/factory/selectpage" class="form-control selectpage" data-primary-key="id" data-format-item="{faname}" data-field="faname" data-search-field="faname" name="row[csid]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Brand')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-brand" class="form-control" name="row[brand]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Batno')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-batno" data-rule="required" class="form-control" name="row[batno]" type="text" value="">
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Voltage')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-voltage" class="form-control" name="row[voltage]" type="text" value="0">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Capacity')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <div class='control-relative'><input id="c-capacity" class="form-control" data-toggle="city-picker" name="row[capacity]" type="text" value="0"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Energy')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-energy" class="form-control" name="row[energy]" type="text" value="0">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Ir')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-ir" class="form-control" name="row[ir]" type="text" value="0">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Size')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-size" class="form-control" name="row[size]" type="text" value="">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Weigth')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-weigth" class="form-control" name="row[weigth]" type="text" value="0">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Battype')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="battypeList" item="vo"}
                <label for="row[battype]-{$key}"><input id="row[battype]-{$key}" name="row[battype]" type="radio" value="{$key}" {in name="key" value="2"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Balance')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="balanceList" item="vo"}
                <label for="row[balance]-{$key}"><input id="row[balance]-{$key}" name="row[balance]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Chargedischargeswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="chargedischargeswitchList" item="vo"}
                <label for="row[chargedischargeswitch]-{$key}"><input id="row[chargedischargeswitch]-{$key}" name="row[chargedischargeswitch]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mosstatus')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="mosstatusList" item="vo"}
                <label for="row[mosstatus]-{$key}"><input id="row[mosstatus]-{$key}" name="row[mosstatus]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="show"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Islike')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="islikeList" item="vo"}
                <label for="row[islike]-{$key}"><input id="row[islike]-{$key}" name="row[islike]" type="radio" value="{$key}" {in name="key" value="auto"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
