<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Batid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-batid" class="form-control" name="row[batid]" type="number" value="{$row.batid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Belongid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-belongid" class="form-control" name="row[belongid]" type="number" value="{$row.belongid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Belongtype')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-belongtype" class="form-control" name="row[belongtype]" type="text" value="{$row.belongtype|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[iszt]-{$key}"><input id="row[iszt]-{$key}" name="row[iszt]" type="radio" value="{$key}" {in name="key" value="$row.iszt"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[stime]" type="text" value="{:$row.stime?datetime($row.stime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Etime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-etime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[etime]" type="text" value="{:$row.etime?datetime($row.etime):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
