<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Oid')}:</label>
        <div class="col-xs-12 col-sm-8">
<!--            <input id="c-oid" class="form-control" name="row[oid]" type="number" value="0">-->
            {$orderno}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Batid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-batid" data-rule="required" data-source="batmanage/bat/selectpage" data-params='{"custom[admin_id]":"normal","custom[type]":"1"}' class="form-control selectpage" data-primary-key="id" data-format-item="{brand}-{batno}" data-field="batno" data-search-field="brand,batno" name="row[batid]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" class="form-control" step="0.01" name="row[price]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
