<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Oid')}:</label>
        <div class="col-xs-12 col-sm-8">
<!--            <input id="c-oid" class="form-control" name="row[oid]" type="number" value="{$row.oid|htmlentities}">-->
            {$orderno}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Batno')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-batno" data-rule="required" data-source="batmanage/bat/selectpage" data-primary-key="batno" data-field="batno" data-search-field="batno" class="form-control selectpage" name="row[batno]" type="text" value="{$row.batno|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
