<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Admin_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-admin_id" data-rule="required" data-source="auth/admin/selectpage" class="form-control selectpage" data-primary-key="id" data-format-item="{username}-{nickname}" data-field="nickname" data-search-field="username,nickname" name="row[admin_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-spname" class="form-control" name="row[spname]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shopmobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shopmobile" class="form-control" name="row[shopmobile]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-spimgs" class="control-label col-xs-12 col-sm-2">{:__('Spimgs')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-spimgs" data-rule="" class="form-control" size="50" name="row[spimgs]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-spimgs" class="btn btn-danger faupload" data-input-id="c-spimgs" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-spimgs"><i class="fa fa-upload"></i> 上传</button></span>
                    <span><button type="button" id="fachoose-spimgs" class="btn btn-primary fachoose" data-input-id="c-spimgs" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> 选择</button></span>
                </div>
                <span class="msg-box n-right" for="c-spimgs"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-spimgs"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Isopen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="isopenList" item="vo"}
                <label for="row[isopen]-{$key}"><input id="row[isopen]-{$key}" name="row[isopen]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tag')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tag" data-rule="" class="form-control" placeholder="输入后空格确认" name="row[tag]" type="text" value="">
            <span class="text-gray">输入后空格确认</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Opentime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-opentime" data-rule="" class="form-control" placeholder="" name="row[opentime]" type="text" value="">
            <span class="text-gray">格式：08:00|17:00</span>
        </div>
    </div>

    <div  class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('获取坐标')}:</label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-primary" data-input-id="c-spaddr" data-lng-id="c-splng" data-lat-id="c-splat" data-toggle="addresspicker">获取坐标</button>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Splng')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-splng" class="form-control" name="row[splng]"  type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Splat')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-splat" class="form-control"  name="row[splat]"  type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spaddr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-spaddr" class="form-control" name="row[spaddr]"  type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spaddrbc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-spaddrbc" class="form-control" name="row[spaddrbc]"  type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spnote')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-spnote" class="form-control " rows="5" name="row[spnote]" cols="50"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {foreach name="statusList" item="vo"}
                <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="show"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>

        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
