<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="bxid" value="{$bxid}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('设备序列号')}:</label>
        <div class=" control-label col-xs-12 col-sm-4" style="text-align: left;">
            {$mInfo.batno}
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('报修类型')}:</label>
        <div class=" control-label col-xs-12 col-sm-4" style="text-align: left;">
            {$mInfo.bxtype}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('报修说明')}:</label>
        <div class=" control-label col-xs-12 col-sm-9" style="text-align: left;">
            {$mInfo.bxdesc}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('报修时间')}:</label>
        <div class=" control-label col-xs-12 col-sm-4" style="text-align: left;">
            {$mInfo.bxtime|date='Y-m-d H:i:s',###}
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('当前状态')}:</label>
        <div class=" control-label col-xs-12 col-sm-4" style="text-align: left;">
            {$mInfo.bxstatus}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('报修图片')}:</label>
        <div class=" control-label col-xs-12 col-sm-11" style="text-align: left;">
            {php}$images = explode(',', $mInfo['bximg']);{/php}
            {volist name="images" id="image"}
            <img
                    src="{$image}"
                    width="100"
                    height="100"
                    style="cursor:pointer;margin:5px;"
                    onclick="showBigImage('{$image}')"
            >
            {/volist}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('维修人员')}:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="radio">
                <select name="uid" class="form-control selectpicker" data-live-search="true">
                    <option value="0" title="请选择维修人员">请选择维修人员</option>
                {foreach name="maintuList" item="vo"}
                    <option value="{$vo.id}" {if condition="$wxuser_id==$vo.id" }selected{/if} title="{$vo.nickname}-{$vo.wxzd}-{$vo.wxjd}-{$vo.wxing}-{$vo.wxwc}">{$vo.nickname}-派单:{$vo.wxzd}-接单:{$vo.wxjd}-正在:{$vo.wxing}-完成:{$vo.wxwc}</option>
                {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script>
    function showBigImage(url) {
        layer.open({
            type: 1,
            title: '查看大图',
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: '<img src="' + url + '" style="width:100%;height:auto;">'
        });
    }
</script>
